<% url = action == 'new' ? cats_url : cat_url(cat) %>

<form action="<%=url%>" method="POST">
    <% if action == 'edit' %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>
    <label>Name
        <input type="text" name="cat[name]" value="<%=cat.name%>">
    </label></br>
    <label>Color
        <input type="text" name="cat[color]" value="<%=cat.color%>">
    </label></br>
    <label>Sex
        <input type="text" name="cat[sex]" value="<%=cat.sex%>">
    </label></br>
    <label>Birth Date
        <input type="date" name="cat[birth_date]" value="<%=cat.birth_date%>">
    </label></br>
    <label>Description
        <textarea name="cat[description]"><%=cat.description%></textarea>
    </label></br>
    <input type="submit" value="submit">
</form>